.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.currentDay {
  background: red;
}

.unclickableDay {
  pointer-events: none;
}