@import "mixins";

.container {
  margin: 0 auto;
  max-width: 1300px;
  @include tablet {
    max-width: 800px;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
  border: 1px solid purple;
  button {
    width: 80px;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.calendarWrap {
  border: 1px solid red;
  height: 93vh;
}

.calendarBody {
  height: 100%;
}

.monthTitle {
  border: 1px solid red;
  text-align: center;
}

.daysWrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  span {
    border: 1px solid black;
    text-align: center;
    padding: 10px 0;
  }
}

.currentDay {
  background: red;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 12%;
  @include mobile {
    height: 10vh;
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}

.currentDay {
  background: red;
}